.header-bar {
    width: 100%;
    height: 45px;
    background-color: #ececec;
    color: #523845;
    display: grid;
    grid-template-columns: 180px 1fr 300px 276px;
}

li {
    list-style: none;
}

h3 {
    margin: 10px 0px 10px 10px;
    font-weight: 400;
}

.li-container {
    background-color: #ececec;
    position: absolute;
    width: 300px;
    z-index: 5;
}

#login-buttons {
    margin-top: 12px;
    font-size: 18.72px;
    grid-column: 4;
}

.login-link-text {
    text-decoration: none !important;
}

#release-notes-drop-down {
    grid-column: 3;
    margin: auto;
    height: 100%;
    width: 100%;
}